[user]
	name=hugoup
	email=stefan@unitedprofile.se
    #name = hugosp
    #email = stefan.sundell@gmail.com
[safe]
	directory = /home/hugo/.dotfiles
	default=simple

[credential]
    helper=cache --timeout=7200

[core]
    editor = vim
    whitespace = fix,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore_global
    commitGraph = true
