alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

#alias ls='ls --color=auto'
#alias la='ls -lA'
#alias lsd="ls | grep --color=never '^d'"

alias ls='exa -ah --icons --git'
alias la='ls -l'

alias cat='bat'

alias tmux="TERM=xterm-256color tmux"

alias gss='git status'
alias ga='git add . && gss'
alias gl='git log --oneline'

function gc() {
  git commit -m "$*"
}
